include README.rst
include mlgw/TD_models
include mlgw/TD_models/model_1/README
include mlgw/TD_models/model_1/55/ph_exp_2
include mlgw/TD_models/model_1/55/ph_gat_2
include mlgw/TD_models/model_1/55/amp_exp_2
include mlgw/TD_models/model_1/55/amp_feat
include mlgw/TD_models/model_1/55/amp_gat_2
include mlgw/TD_models/model_1/55/amp_gat_0
include mlgw/TD_models/model_1/55/amp_gat_3
include mlgw/TD_models/model_1/55/amp_exp_0
include mlgw/TD_models/model_1/55/ph_PCA_model
include mlgw/TD_models/model_1/55/times
include mlgw/TD_models/model_1/55/amp_exp_3
include mlgw/TD_models/model_1/55/amp_gat_1
include mlgw/TD_models/model_1/55/amp_exp_1
include mlgw/TD_models/model_1/55/ph_gat_3
include mlgw/TD_models/model_1/55/amp_PCA_model
include mlgw/TD_models/model_1/55/ph_exp_3
include mlgw/TD_models/model_1/55/ph_exp_0
include mlgw/TD_models/model_1/55/ph_feat
include mlgw/TD_models/model_1/55/ph_gat_0
include mlgw/TD_models/model_1/55/ph_gat_1
include mlgw/TD_models/model_1/55/ph_exp_1
include mlgw/TD_models/model_1/33/ph_exp_4
include mlgw/TD_models/model_1/33/ph_exp_2
include mlgw/TD_models/model_1/33/ph_gat_2
include mlgw/TD_models/model_1/33/amp_exp_2
include mlgw/TD_models/model_1/33/amp_feat
include mlgw/TD_models/model_1/33/amp_gat_2
include mlgw/TD_models/model_1/33/amp_gat_0
include mlgw/TD_models/model_1/33/amp_gat_3
include mlgw/TD_models/model_1/33/amp_exp_0
include mlgw/TD_models/model_1/33/ph_PCA_model
include mlgw/TD_models/model_1/33/times
include mlgw/TD_models/model_1/33/amp_exp_3
include mlgw/TD_models/model_1/33/amp_gat_1
include mlgw/TD_models/model_1/33/amp_exp_1
include mlgw/TD_models/model_1/33/ph_gat_3
include mlgw/TD_models/model_1/33/amp_PCA_model
include mlgw/TD_models/model_1/33/ph_gat_4
include mlgw/TD_models/model_1/33/ph_exp_3
include mlgw/TD_models/model_1/33/ph_exp_0
include mlgw/TD_models/model_1/33/ph_feat
include mlgw/TD_models/model_1/33/ph_gat_0
include mlgw/TD_models/model_1/33/ph_gat_1
include mlgw/TD_models/model_1/33/ph_exp_1
include mlgw/TD_models/model_1/44/ph_exp_2
include mlgw/TD_models/model_1/44/ph_gat_2
include mlgw/TD_models/model_1/44/amp_exp_2
include mlgw/TD_models/model_1/44/amp_feat
include mlgw/TD_models/model_1/44/amp_gat_2
include mlgw/TD_models/model_1/44/amp_gat_0
include mlgw/TD_models/model_1/44/amp_gat_3
include mlgw/TD_models/model_1/44/amp_exp_0
include mlgw/TD_models/model_1/44/ph_PCA_model
include mlgw/TD_models/model_1/44/times
include mlgw/TD_models/model_1/44/amp_exp_3
include mlgw/TD_models/model_1/44/amp_gat_1
include mlgw/TD_models/model_1/44/amp_exp_1
include mlgw/TD_models/model_1/44/ph_gat_3
include mlgw/TD_models/model_1/44/amp_PCA_model
include mlgw/TD_models/model_1/44/ph_exp_3
include mlgw/TD_models/model_1/44/ph_exp_0
include mlgw/TD_models/model_1/44/ph_feat
include mlgw/TD_models/model_1/44/ph_gat_0
include mlgw/TD_models/model_1/44/ph_gat_1
include mlgw/TD_models/model_1/44/ph_exp_1
include mlgw/TD_models/model_1/21/ph_exp_2
include mlgw/TD_models/model_1/21/ph_gat_2
include mlgw/TD_models/model_1/21/amp_exp_2
include mlgw/TD_models/model_1/21/amp_feat
include mlgw/TD_models/model_1/21/amp_gat_2
include mlgw/TD_models/model_1/21/amp_gat_0
include mlgw/TD_models/model_1/21/amp_gat_3
include mlgw/TD_models/model_1/21/amp_exp_0
include mlgw/TD_models/model_1/21/ph_PCA_model
include mlgw/TD_models/model_1/21/times
include mlgw/TD_models/model_1/21/amp_exp_3
include mlgw/TD_models/model_1/21/amp_gat_1
include mlgw/TD_models/model_1/21/amp_exp_1
include mlgw/TD_models/model_1/21/ph_gat_3
include mlgw/TD_models/model_1/21/amp_PCA_model
include mlgw/TD_models/model_1/21/ph_exp_3
include mlgw/TD_models/model_1/21/ph_exp_0
include mlgw/TD_models/model_1/21/ph_feat
include mlgw/TD_models/model_1/21/ph_gat_0
include mlgw/TD_models/model_1/21/ph_gat_1
include mlgw/TD_models/model_1/21/ph_exp_1
include mlgw/TD_models/model_1/22/ph_exp_2
include mlgw/TD_models/model_1/22/ph_gat_2
include mlgw/TD_models/model_1/22/amp_exp_2
include mlgw/TD_models/model_1/22/amp_feat
include mlgw/TD_models/model_1/22/amp_gat_2
include mlgw/TD_models/model_1/22/amp_gat_0
include mlgw/TD_models/model_1/22/amp_gat_3
include mlgw/TD_models/model_1/22/amp_exp_0
include mlgw/TD_models/model_1/22/ph_PCA_model
include mlgw/TD_models/model_1/22/times
include mlgw/TD_models/model_1/22/amp_exp_3
include mlgw/TD_models/model_1/22/amp_gat_1
include mlgw/TD_models/model_1/22/amp_exp_1
include mlgw/TD_models/model_1/22/ph_gat_3
include mlgw/TD_models/model_1/22/amp_PCA_model
include mlgw/TD_models/model_1/22/ph_exp_3
include mlgw/TD_models/model_1/22/ph_exp_0
include mlgw/TD_models/model_1/22/ph_feat
include mlgw/TD_models/model_1/22/ph_gat_0
include mlgw/TD_models/model_1/22/ph_gat_1
include mlgw/TD_models/model_1/22/ph_exp_1
include mlgw/TD_models/model_0/42/ph_exp_4
include mlgw/TD_models/model_0/42/ph_exp_2
include mlgw/TD_models/model_0/42/ph_gat_2
include mlgw/TD_models/model_0/42/amp_exp_2
include mlgw/TD_models/model_0/42/amp_feat
include mlgw/TD_models/model_0/42/amp_gat_2
include mlgw/TD_models/model_0/42/amp_gat_0
include mlgw/TD_models/model_0/42/amp_gat_3
include mlgw/TD_models/model_0/42/amp_exp_0
include mlgw/TD_models/model_0/42/ph_PCA_model
include mlgw/TD_models/model_0/42/times
include mlgw/TD_models/model_0/42/amp_exp_3
include mlgw/TD_models/model_0/42/amp_gat_1
include mlgw/TD_models/model_0/42/amp_exp_1
include mlgw/TD_models/model_0/42/ph_gat_3
include mlgw/TD_models/model_0/42/amp_PCA_model
include mlgw/TD_models/model_0/42/ph_gat_4
include mlgw/TD_models/model_0/42/ph_exp_3
include mlgw/TD_models/model_0/42/ph_exp_0
include mlgw/TD_models/model_0/42/ph_feat
include mlgw/TD_models/model_0/42/ph_gat_0
include mlgw/TD_models/model_0/42/ph_gat_1
include mlgw/TD_models/model_0/42/ph_exp_1
include mlgw/TD_models/model_0/README
include mlgw/TD_models/model_0/41/ph_exp_4
include mlgw/TD_models/model_0/41/ph_exp_2
include mlgw/TD_models/model_0/41/ph_gat_2
include mlgw/TD_models/model_0/41/amp_exp_2
include mlgw/TD_models/model_0/41/amp_feat
include mlgw/TD_models/model_0/41/amp_gat_2
include mlgw/TD_models/model_0/41/amp_gat_0
include mlgw/TD_models/model_0/41/amp_gat_3
include mlgw/TD_models/model_0/41/amp_exp_0
include mlgw/TD_models/model_0/41/ph_PCA_model
include mlgw/TD_models/model_0/41/times
include mlgw/TD_models/model_0/41/amp_exp_3
include mlgw/TD_models/model_0/41/amp_gat_1
include mlgw/TD_models/model_0/41/amp_exp_1
include mlgw/TD_models/model_0/41/ph_gat_3
include mlgw/TD_models/model_0/41/amp_PCA_model
include mlgw/TD_models/model_0/41/ph_gat_4
include mlgw/TD_models/model_0/41/ph_exp_3
include mlgw/TD_models/model_0/41/ph_exp_0
include mlgw/TD_models/model_0/41/ph_feat
include mlgw/TD_models/model_0/41/ph_gat_0
include mlgw/TD_models/model_0/41/ph_gat_1
include mlgw/TD_models/model_0/41/ph_exp_1
include mlgw/TD_models/model_0/55/ph_exp_4
include mlgw/TD_models/model_0/55/ph_exp_2
include mlgw/TD_models/model_0/55/ph_gat_2
include mlgw/TD_models/model_0/55/amp_exp_2
include mlgw/TD_models/model_0/55/amp_feat
include mlgw/TD_models/model_0/55/amp_gat_2
include mlgw/TD_models/model_0/55/amp_gat_0
include mlgw/TD_models/model_0/55/amp_gat_3
include mlgw/TD_models/model_0/55/amp_exp_0
include mlgw/TD_models/model_0/55/ph_PCA_model
include mlgw/TD_models/model_0/55/times
include mlgw/TD_models/model_0/55/amp_exp_3
include mlgw/TD_models/model_0/55/amp_gat_1
include mlgw/TD_models/model_0/55/amp_exp_1
include mlgw/TD_models/model_0/55/ph_gat_3
include mlgw/TD_models/model_0/55/amp_PCA_model
include mlgw/TD_models/model_0/55/ph_gat_4
include mlgw/TD_models/model_0/55/ph_exp_3
include mlgw/TD_models/model_0/55/ph_exp_0
include mlgw/TD_models/model_0/55/ph_feat
include mlgw/TD_models/model_0/55/ph_gat_0
include mlgw/TD_models/model_0/55/ph_gat_1
include mlgw/TD_models/model_0/55/ph_exp_1
include mlgw/TD_models/model_0/31/ph_exp_4
include mlgw/TD_models/model_0/31/ph_exp_2
include mlgw/TD_models/model_0/31/ph_gat_2
include mlgw/TD_models/model_0/31/amp_exp_2
include mlgw/TD_models/model_0/31/amp_feat
include mlgw/TD_models/model_0/31/amp_gat_2
include mlgw/TD_models/model_0/31/amp_gat_0
include mlgw/TD_models/model_0/31/amp_gat_3
include mlgw/TD_models/model_0/31/amp_exp_0
include mlgw/TD_models/model_0/31/ph_PCA_model
include mlgw/TD_models/model_0/31/times
include mlgw/TD_models/model_0/31/amp_exp_3
include mlgw/TD_models/model_0/31/amp_gat_1
include mlgw/TD_models/model_0/31/amp_exp_1
include mlgw/TD_models/model_0/31/ph_gat_3
include mlgw/TD_models/model_0/31/amp_PCA_model
include mlgw/TD_models/model_0/31/ph_gat_4
include mlgw/TD_models/model_0/31/ph_exp_3
include mlgw/TD_models/model_0/31/ph_exp_0
include mlgw/TD_models/model_0/31/ph_feat
include mlgw/TD_models/model_0/31/ph_gat_0
include mlgw/TD_models/model_0/31/ph_gat_1
include mlgw/TD_models/model_0/31/ph_exp_1
include mlgw/TD_models/model_0/33/ph_exp_4
include mlgw/TD_models/model_0/33/ph_exp_2
include mlgw/TD_models/model_0/33/ph_gat_2
include mlgw/TD_models/model_0/33/amp_exp_2
include mlgw/TD_models/model_0/33/amp_feat
include mlgw/TD_models/model_0/33/amp_gat_2
include mlgw/TD_models/model_0/33/amp_gat_0
include mlgw/TD_models/model_0/33/amp_gat_3
include mlgw/TD_models/model_0/33/amp_exp_0
include mlgw/TD_models/model_0/33/ph_PCA_model
include mlgw/TD_models/model_0/33/times
include mlgw/TD_models/model_0/33/amp_exp_3
include mlgw/TD_models/model_0/33/amp_gat_1
include mlgw/TD_models/model_0/33/amp_exp_1
include mlgw/TD_models/model_0/33/ph_gat_3
include mlgw/TD_models/model_0/33/amp_PCA_model
include mlgw/TD_models/model_0/33/ph_gat_4
include mlgw/TD_models/model_0/33/ph_exp_3
include mlgw/TD_models/model_0/33/ph_exp_0
include mlgw/TD_models/model_0/33/ph_feat
include mlgw/TD_models/model_0/33/ph_gat_0
include mlgw/TD_models/model_0/33/ph_gat_1
include mlgw/TD_models/model_0/33/ph_exp_1
include mlgw/TD_models/model_0/44/ph_exp_4
include mlgw/TD_models/model_0/44/ph_exp_2
include mlgw/TD_models/model_0/44/ph_gat_2
include mlgw/TD_models/model_0/44/amp_exp_2
include mlgw/TD_models/model_0/44/amp_feat
include mlgw/TD_models/model_0/44/amp_gat_2
include mlgw/TD_models/model_0/44/amp_gat_0
include mlgw/TD_models/model_0/44/amp_gat_3
include mlgw/TD_models/model_0/44/amp_exp_0
include mlgw/TD_models/model_0/44/ph_PCA_model
include mlgw/TD_models/model_0/44/times
include mlgw/TD_models/model_0/44/amp_exp_3
include mlgw/TD_models/model_0/44/amp_gat_1
include mlgw/TD_models/model_0/44/amp_exp_1
include mlgw/TD_models/model_0/44/ph_gat_3
include mlgw/TD_models/model_0/44/amp_PCA_model
include mlgw/TD_models/model_0/44/ph_gat_4
include mlgw/TD_models/model_0/44/ph_exp_3
include mlgw/TD_models/model_0/44/ph_exp_0
include mlgw/TD_models/model_0/44/ph_feat
include mlgw/TD_models/model_0/44/ph_gat_0
include mlgw/TD_models/model_0/44/ph_gat_1
include mlgw/TD_models/model_0/44/ph_exp_1
include mlgw/TD_models/model_0/21/ph_exp_4
include mlgw/TD_models/model_0/21/ph_exp_2
include mlgw/TD_models/model_0/21/ph_gat_2
include mlgw/TD_models/model_0/21/amp_exp_2
include mlgw/TD_models/model_0/21/amp_feat
include mlgw/TD_models/model_0/21/amp_gat_2
include mlgw/TD_models/model_0/21/amp_gat_0
include mlgw/TD_models/model_0/21/amp_gat_3
include mlgw/TD_models/model_0/21/amp_exp_0
include mlgw/TD_models/model_0/21/ph_PCA_model
include mlgw/TD_models/model_0/21/times
include mlgw/TD_models/model_0/21/amp_exp_3
include mlgw/TD_models/model_0/21/amp_gat_1
include mlgw/TD_models/model_0/21/amp_exp_1
include mlgw/TD_models/model_0/21/ph_gat_3
include mlgw/TD_models/model_0/21/amp_PCA_model
include mlgw/TD_models/model_0/21/ph_gat_4
include mlgw/TD_models/model_0/21/ph_exp_3
include mlgw/TD_models/model_0/21/ph_exp_0
include mlgw/TD_models/model_0/21/ph_feat
include mlgw/TD_models/model_0/21/ph_gat_0
include mlgw/TD_models/model_0/21/ph_gat_1
include mlgw/TD_models/model_0/21/ph_exp_1
include mlgw/TD_models/model_0/43/ph_exp_4
include mlgw/TD_models/model_0/43/ph_exp_2
include mlgw/TD_models/model_0/43/ph_gat_2
include mlgw/TD_models/model_0/43/amp_exp_2
include mlgw/TD_models/model_0/43/amp_feat
include mlgw/TD_models/model_0/43/amp_gat_2
include mlgw/TD_models/model_0/43/amp_gat_0
include mlgw/TD_models/model_0/43/amp_gat_3
include mlgw/TD_models/model_0/43/amp_exp_0
include mlgw/TD_models/model_0/43/ph_PCA_model
include mlgw/TD_models/model_0/43/times
include mlgw/TD_models/model_0/43/amp_exp_3
include mlgw/TD_models/model_0/43/amp_gat_1
include mlgw/TD_models/model_0/43/amp_exp_1
include mlgw/TD_models/model_0/43/ph_gat_3
include mlgw/TD_models/model_0/43/amp_PCA_model
include mlgw/TD_models/model_0/43/ph_gat_4
include mlgw/TD_models/model_0/43/ph_exp_3
include mlgw/TD_models/model_0/43/ph_exp_0
include mlgw/TD_models/model_0/43/ph_feat
include mlgw/TD_models/model_0/43/ph_gat_0
include mlgw/TD_models/model_0/43/ph_gat_1
include mlgw/TD_models/model_0/43/ph_exp_1
include mlgw/TD_models/model_0/32/ph_exp_4
include mlgw/TD_models/model_0/32/ph_exp_2
include mlgw/TD_models/model_0/32/ph_gat_2
include mlgw/TD_models/model_0/32/amp_exp_2
include mlgw/TD_models/model_0/32/amp_feat
include mlgw/TD_models/model_0/32/amp_gat_2
include mlgw/TD_models/model_0/32/amp_gat_0
include mlgw/TD_models/model_0/32/amp_gat_3
include mlgw/TD_models/model_0/32/amp_exp_0
include mlgw/TD_models/model_0/32/ph_PCA_model
include mlgw/TD_models/model_0/32/times
include mlgw/TD_models/model_0/32/amp_exp_3
include mlgw/TD_models/model_0/32/amp_gat_1
include mlgw/TD_models/model_0/32/amp_exp_1
include mlgw/TD_models/model_0/32/ph_gat_3
include mlgw/TD_models/model_0/32/amp_PCA_model
include mlgw/TD_models/model_0/32/ph_gat_4
include mlgw/TD_models/model_0/32/ph_exp_3
include mlgw/TD_models/model_0/32/ph_exp_0
include mlgw/TD_models/model_0/32/ph_feat
include mlgw/TD_models/model_0/32/ph_gat_0
include mlgw/TD_models/model_0/32/ph_gat_1
include mlgw/TD_models/model_0/32/ph_exp_1
include mlgw/TD_models/model_0/22/ph_exp_4
include mlgw/TD_models/model_0/22/ph_exp_2
include mlgw/TD_models/model_0/22/ph_gat_2
include mlgw/TD_models/model_0/22/amp_exp_2
include mlgw/TD_models/model_0/22/amp_feat
include mlgw/TD_models/model_0/22/amp_gat_2
include mlgw/TD_models/model_0/22/amp_gat_0
include mlgw/TD_models/model_0/22/amp_gat_3
include mlgw/TD_models/model_0/22/amp_exp_0
include mlgw/TD_models/model_0/22/ph_PCA_model
include mlgw/TD_models/model_0/22/times
include mlgw/TD_models/model_0/22/amp_exp_3
include mlgw/TD_models/model_0/22/amp_gat_1
include mlgw/TD_models/model_0/22/amp_exp_1
include mlgw/TD_models/model_0/22/ph_gat_3
include mlgw/TD_models/model_0/22/amp_PCA_model
include mlgw/TD_models/model_0/22/ph_gat_4
include mlgw/TD_models/model_0/22/ph_exp_3
include mlgw/TD_models/model_0/22/ph_exp_0
include mlgw/TD_models/model_0/22/ph_feat
include mlgw/TD_models/model_0/22/ph_gat_0
include mlgw/TD_models/model_0/22/ph_gat_1
include mlgw/TD_models/model_0/22/ph_exp_1
include mlgw/TD_models/model_2/README
include mlgw/TD_models/model_2/22/ph_exp_4
include mlgw/TD_models/model_2/22/ph_exp_2
include mlgw/TD_models/model_2/22/ph_gat_2
include mlgw/TD_models/model_2/22/amp_exp_2
include mlgw/TD_models/model_2/22/amp_feat
include mlgw/TD_models/model_2/22/amp_gat_2
include mlgw/TD_models/model_2/22/amp_gat_0
include mlgw/TD_models/model_2/22/amp_gat_3
include mlgw/TD_models/model_2/22/amp_exp_0
include mlgw/TD_models/model_2/22/ph_PCA_model
include mlgw/TD_models/model_2/22/times
include mlgw/TD_models/model_2/22/amp_exp_3
include mlgw/TD_models/model_2/22/amp_gat_1
include mlgw/TD_models/model_2/22/amp_exp_1
include mlgw/TD_models/model_2/22/ph_gat_3
include mlgw/TD_models/model_2/22/amp_PCA_model
include mlgw/TD_models/model_2/22/ph_gat_4
include mlgw/TD_models/model_2/22/ph_exp_3
include mlgw/TD_models/model_2/22/ph_exp_0
include mlgw/TD_models/model_2/22/ph_feat
include mlgw/TD_models/model_2/22/ph_gat_0
include mlgw/TD_models/model_2/22/ph_gat_1
include mlgw/TD_models/model_2/22/ph_exp_1
