include README.rst
include ./mlgw/TD_models/model_1/README
include ./mlgw/TD_models/model_1/ph_exp_2
include ./mlgw/TD_models/model_1/ph_gat_2
include ./mlgw/TD_models/model_1/amp_exp_2
include ./mlgw/TD_models/model_1/amp_feat
include ./mlgw/TD_models/model_1/amp_gat_2
include ./mlgw/TD_models/model_1/amp_gat_0
include ./mlgw/TD_models/model_1/amp_gat_3
include ./mlgw/TD_models/model_1/amp_exp_0
include ./mlgw/TD_models/model_1/ph_PCA_model
include ./mlgw/TD_models/model_1/times
include ./mlgw/TD_models/model_1/amp_exp_3
include ./mlgw/TD_models/model_1/amp_gat_1
include ./mlgw/TD_models/model_1/amp_exp_1
include ./mlgw/TD_models/model_1/ph_gat_3
include ./mlgw/TD_models/model_1/amp_PCA_model
include ./mlgw/TD_models/model_1/ph_exp_3
include ./mlgw/TD_models/model_1/ph_exp_0
include ./mlgw/TD_models/model_1/ph_feat
include ./mlgw/TD_models/model_1/ph_gat_0
include ./mlgw/TD_models/model_1/ph_gat_1
include ./mlgw/TD_models/model_1/ph_exp_1
include ./mlgw/TD_models/model_0/ph_exp_4
include ./mlgw/TD_models/model_0/README
include ./mlgw/TD_models/model_0/ph_exp_2
include ./mlgw/TD_models/model_0/ph_gat_2
include ./mlgw/TD_models/model_0/amp_exp_2
include ./mlgw/TD_models/model_0/amp_feat
include ./mlgw/TD_models/model_0/amp_gat_4
include ./mlgw/TD_models/model_0/amp_gat_2
include ./mlgw/TD_models/model_0/amp_gat_0
include ./mlgw/TD_models/model_0/amp_gat_3
include ./mlgw/TD_models/model_0/amp_exp_0
include ./mlgw/TD_models/model_0/amp_exp_5
include ./mlgw/TD_models/model_0/ph_PCA_model
include ./mlgw/TD_models/model_0/amp_exp_4
include ./mlgw/TD_models/model_0/amp_gat_5
include ./mlgw/TD_models/model_0/times
include ./mlgw/TD_models/model_0/amp_exp_3
include ./mlgw/TD_models/model_0/amp_gat_1
include ./mlgw/TD_models/model_0/amp_exp_1
include ./mlgw/TD_models/model_0/ph_gat_3
include ./mlgw/TD_models/model_0/amp_PCA_model
include ./mlgw/TD_models/model_0/ph_gat_4
include ./mlgw/TD_models/model_0/ph_exp_3
include ./mlgw/TD_models/model_0/ph_exp_0
include ./mlgw/TD_models/model_0/ph_feat
include ./mlgw/TD_models/model_0/ph_gat_0
include ./mlgw/TD_models/model_0/ph_gat_1
include ./mlgw/TD_models/model_0/ph_exp_1
include ./mlgw/TD_models/model_2/ph_exp_4
include ./mlgw/TD_models/model_2/README
include ./mlgw/TD_models/model_2/ph_exp_2
include ./mlgw/TD_models/model_2/ph_gat_2
include ./mlgw/TD_models/model_2/amp_exp_2
include ./mlgw/TD_models/model_2/amp_feat
include ./mlgw/TD_models/model_2/amp_gat_4
include ./mlgw/TD_models/model_2/amp_gat_2
include ./mlgw/TD_models/model_2/amp_gat_0
include ./mlgw/TD_models/model_2/amp_gat_3
include ./mlgw/TD_models/model_2/amp_exp_0
include ./mlgw/TD_models/model_2/amp_exp_5
include ./mlgw/TD_models/model_2/ph_PCA_model
include ./mlgw/TD_models/model_2/amp_exp_4
include ./mlgw/TD_models/model_2/amp_gat_5
include ./mlgw/TD_models/model_2/times
include ./mlgw/TD_models/model_2/amp_exp_3
include ./mlgw/TD_models/model_2/amp_gat_1
include ./mlgw/TD_models/model_2/amp_exp_1
include ./mlgw/TD_models/model_2/ph_gat_3
include ./mlgw/TD_models/model_2/amp_PCA_model
include ./mlgw/TD_models/model_2/ph_gat_4
include ./mlgw/TD_models/model_2/ph_exp_3
include ./mlgw/TD_models/model_2/ph_exp_0
include ./mlgw/TD_models/model_2/ph_feat
include ./mlgw/TD_models/model_2/ph_gat_0
include ./mlgw/TD_models/model_2/ph_gat_1
include ./mlgw/TD_models/model_2/ph_exp_1
